.container {
  display: inline-grid;
  width: 300px;
  height: 300px;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}

.box {
  background-color: green;
  border: 1px solid #fff;
  font-size: 50px;
  text-align: center;
  line-height: 100px;
}

.circle::before {
  content: '⭕';
}

.cross::before {
  content: '❌';
}